body {
  background-color: black;
  color: green;
}
.header {
  font-weight: 1000;
  font-size: 50px;
  border-bottom: 10px solid green;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  font-family: monospace;
}
.fetchDetails {
  text-align: center;
  border-bottom: 10px solid green;
}
.inputBox {
  text-align: center;
}
.userName {
  font-weight: 500;
  font-size: 30px;
  border-bottom: 6px solid green;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  font-family: monospace;
}
